
  <footer id="footer" class="footer accent-background">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{%url 'home' %}" class="logo d-flex align-items-center">
            <span class="sitename">Learnix</span>
          </a>
          <p>Learnix is dedicated to making quality education accessible, flexible, and engaging for everyone. Join us in building a better future through practical learning.
</p>
          <div class="social-links d-flex mt-4">
            <a href="https://x.com/"><i class="bi bi-twitter-x"></i></a>
            <a href="https://facebook.com/"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/"><i class="bi bi-instagram"></i></a>
            <a href="https://linkedin.com/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{%url 'home' %}">Home</a></li>
            <li><a href="{%url 'about' %}">About us</a></li>
            <li><a href="courses.html">Course</a></li>
            <li><a href="{%url 'blog' %}">Blog</a></li>
            <li><a href="{%url 'contact' %}">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Courses</h4>
          <ul>
            <li><a href="html-course.html">HTML Fundamentals</a></li>
            <li><a href="courses.html">CSS Styling Techniques</a></li>
            <li><a href="courses.html">JavaScript Programming</a></li>
            <li><a href="bash-course.html">Bash Scripting</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Kamal Pokhari</p>
          <p>Kathmandu</p>
          <p>Nepal</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@learnix.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Learnix</strong> <span>All Rights Reserved</span></p>
    </div>
  </footer>
